# API Keys & Sensitive Data
.env
.env.txt

# Python Environment & Cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
var/
sdist/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Logs & Temporary Files
*.log
client_errors.log
pip-log.txt
pip-delete-this-directory.txt

# OS files
.DS_Store
Thumbs.db
